* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: #5a5d61;
  font-family: Hind, sans-serif;
  text-align: left;
}

#nav {
  height: 90px;
  background: white;
  border-bottom: 1px solid #e2dbd3;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#boss {
  padding-top: 32px;
}

#nav.shrink {
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  transition: all ease .5s;
}

#nav.shrink #boss {
  padding-top: 17px;
}

#menu-icon {
	background: url(img/icon.png) center;
	width: 40px;
	height: 34px;
	display: hidden;
}

a {
  text-decoration: none;
  color: #515769;
}

a:hover {
  color: #e2dbd3;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  height: 20px;
  width: 154px;
  float: left;
}

nav {
  float: right;
}

nav a {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  color: #515769;
  text-decoration: none;
}

nav a:hover, .current  {
  background-color: #6dbacd;
  border-radius: 7px;
  color: white;
}

.slider {
  height: 660px;
  background: #e2dbd3;
  padding-top: 90px;
}

.initials {
  float: left;
  padding-top: 200px;
}

.initials h1 {
  font-weight: 700;
  font-size: 3em;
  font-family: Hind, sans-serif;
  color: #515769;
  line-height: 1;
  margin-bottom: 20px;
}

.initials p {
  font-size: 1.5em;
  font-weight: 400;
  color: #a6a7aa;
  line-height: 1.4;
}

.social {
  margin-top: 20px;
}

.social li {
  display: inline;
}

.social i {
  font-size: 145%;
  padding: 2% 4%;
  margin: 0 5px;
  color: #959595;
  background-color: white;
  border-radius: 10px;
}

.social i:hover {
  color: white;
  background-color: #959595;
}

.avatar {
  float: right;
}

/* Start About*/

#about {
  background: #fafafa;
  padding: 70px 0;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picradius {
  border-radius: 40px;
}

.description {
  width: 50%;
}

.description p {
  padding-bottom: 30px;
}

.description a {
  background: #e2dbd3;
  padding: 10px 15px;
  color: #515769;
  text-decoration: none;
  border-radius: 5px;
}

.description a:hover {
  background: #6dbacd;
  color: white;
}

/* Start Skills */

#skills {
  padding: 70px 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.content-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-1 img {
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}

.content-1 img:hover {
  background: #6dbacd;
  border-bottom: 2px solid red;
}

.content-2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-2 img {
  margin-bottom: 30px;
}

.content-2 img:hover {
  opacity: 0.6;
}

/*Start Education*/

#education {
  padding: 70px 0;
  background: #fafafa;
}

/*Start experience*/

#experience {
  padding: 70px 0;
}

.description li {
  list-style-position: inside;
  margin-left: 20px;
}

/*Start Hobby*/

#hobby {
  padding: 70px 0;
  background: #fafafa;
}

.title li {
  float: left;
  padding: 0 20px;
  list-style-type: none;
  border-right: 1px solid #6dbacd;
  margin-top: 15px;
}

.title li:last-child {
  border-right: none;
}

.block-3 {
  display: flex;
  flex-direction: column;
}

.content-3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-3 img {
  padding: 20px 0;
}

/*Start contact*/

#contact {
  padding: 70px 0;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cont {
  width: 300px;
  text-align: center;
}

footer {
  background: #e2dbd3;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {

	#menu-icon {
		display: inline-block;
	}
	nav:hover ul {
		display: block;
	}
	nav a:active {
		display: none;
		z-index: 1000;
		position: absolute;
		background: #405580;
		width: 50%;
		padding: 20px;
		right: 20px;
		top: 60px;
		border: 1px solid #fff;
		border-radius: 4px 0 4px 4px;
	}
}
